@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body{
	background-color: #fff;
	font-family: 'Poppins';
}
#main-container{
	margin: 10px auto;
	width: 600px;
}
table{
	background-color: #fff;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}
th, td{
	padding: 4.3px;
}
thead{
	background-color: #25586c;
	border-bottom: solid 5px #25586c;
	color: #000;
}
tr:hover td{
	background-color: #6e91aa;
	color:  #000;
}
.contenedor-uno button{
	margin-top: 10px;
	background:  #369681;
	border-radius: 15px;
	box-shadow: 2px 2px #369681;
	color: black;
	width: 140px;
	height: 60px;
	font-size: 15px;
	cursor: pointer;
}
.contenedor-uno{
	color:  #000;
	padding-right: 8px;
}