<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styleAdmin.css') }}">
    
    <title>CRUD App</title>
</head>
<body>

    <div class="sidebar">
        <h2>Menú</h2>
        <ul>
            <li><a href="{{ url_for('admin.admin') }}">Gestionar Clientes</a></li>
            <li><a href="{{ url_for('admin.crearAdmin') }}">Gestionar Administradores</a></li>
        </ul>
    </div>

    <div class="content">
        <header>
            <h1>Bienvenido {{ nombre_usuario }}</h1>
        </header>
        <table border="1">
            <thead>
                <tr>
                    <th>Nombre Cliente</th>
                    <th>Tipo de Servicio</th>
                    <th>Tipo de Prenda</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in datos_clientes %}
                    <tr>
                        <td>{{ cliente.nombre }}</td>
                        <td>{{ cliente.tipo_servicio }}</td>
                        <td>{{ cliente.tipo_prenda }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    
        <h2>Información de Pedidos</h2>
        
        <table border="1">
            <thead>
                <tr>
                    <th>ID Pedido</th>
                    <th>Cliente</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                {% for pedido in datos_pedidos %}
                    <tr>
                        <td>{{ pedido.id }}</td>
                        <td>{{ pedido.cliente.nombre }}</td>
                        <td>{{ pedido.descripcion }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="main-content">
            {% block content %}{% endblock %}
        </div>
    </div>

</body>
</html>
