<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styleAdmin.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styleTable.css') }}">
    
    <title>Admin</title>
</head>

<body>

    <div class="sidebar">
        <h2>Menú</h2>
        <ul>
            <li><a href="{{ url_for('admin.adminPedidos') }}">Gestionar Pedidos</a></li>
            <li><a href="{{ url_for('admin.crearAdmin') }}">Gestionar Administradores</a></li>
            <li><a href="{{ url_for('admin.admin') }}">Gestionar Clientes</a></li>
        </ul>
    </div>

    <div class="content">
        <header>
            <h1>Bienvenido</h1>
            <!-- Botón para cerrar sesión -->
            <form method="GET" action="{{ url_for('index.index') }}">
                <input type="submit" value="Cerrar Sesión" class="logout-button">
            </form>
        </header>
        
        <div class="main-content">
            <!-- Botón para abrir la ventana modal -->
            <button id="openModalButton">Crear Admin</button>
        
            <!-- Ventana modal para el formulario de creación de administradores (inicialmente oculta) -->
            <div id="myModal" class="modal" style="display: none;">
                <div class="modal-content">
                    <span class="close" id="closeModal">&times;</span>
                    <h2>Crear Administrador</h2>
                    <form method="POST" action="{{ url_for('admin.register_admin') }}">
                        <div class="form-group">
                            <label for="nombre">Nombre:</label>
                            <input type="text" id="nombre" name="nombre" class="form-control input userpass" required>
                        </div>
            
                        <div class="form-group">
                            <label for="apellido">Apellido:</label>
                            <input type="text" id="apellido" name="apellido" class="form-control input userpass" required>
                        </div>
            
                        <div class="form-group">
                            <label for="telefono">Teléfono:</label>
                            <input type="tel" id="telefono" name="telefono" class="form-control input userpass" required pattern="[0-9]{10}" title="Ingrese un número de teléfono de 10 dígitos">
                        </div>
                        
                        <div class="form-group">
                            <label for="direccion">Dirección:</label>
                            <input type="text" id="direccion" name="direccion" class="form-control input userpass" required>
                        </div>
            
                        <div class="form-group">
                            <label for="contrasena">Contraseña:</label>
                            <input type="password" id="contrasena" name="contrasena" class="form-control input userpass" required pattern=".{8,}" title="La contraseña debe tener al menos 8 caracteres">
                        </div>
            
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary mt-3 login_btn">Registrarse</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="main-content">
                <h2>Administradores Registrados</h2>
            
                <!-- Tabla para mostrar administradores registrados -->
                <table border="1">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Teléfono</th>
                            <th>Dirección</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for admin in datos_administradores %}
                            <tr>
                                <td>{{ admin['id_Administrador'] }}</td>
                                <td>{{ admin['nombre_admin'] }}</td>
                                <td>{{ admin['apellido_admin'] }}</td>
                                <td>{{ admin['telefono_admin'] }}</td>
                                <td>{{ admin['direccion_admin'] }}</td>
                                <td>
                                    <a href="{{ url_for('admin.actualizar_administrador', admin_id=admin['id_Administrador']) }}">Editar</a>
                
                                    <form method="POST" action="{{ url_for('admin.eliminar_administrador', admin_id=admin['id_Administrador']) }}" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este administrador?');">
                                        <input type="submit" value="Eliminar">
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>                
            </div>
            
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Obtener elementos del DOM
            var openModalButton = document.getElementById('openModalButton');
            var modal = document.getElementById('myModal');
            var closeModal = document.getElementById('closeModal');
    
            // Función para abrir la ventana modal
            openModalButton.addEventListener('click', function () {
                modal.style.display = 'block';
            });
    
            // Función para cerrar la ventana modal
            closeModal.addEventListener('click', function () {
                modal.style.display = 'none';
            });
    
            // Cierra la ventana modal si el usuario hace clic fuera de ella
            window.addEventListener('click', function (event) {
                if (event.target == modal) {
                    modal.style.display = 'none';
                }
            });
        });
    </script>
</body>
</html>
