<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="stylesheet" href="{{ url_for('static', filename='styleLogin.css') }}">
    <title>Login Page</title>
</head>
<body style="background-image: url('static/img/lavanderia.jpg'); background-size: cover; background-repeat: no-repeat; background-attachment: fixed;">
  <div class="login-page">
    <div class="avatar">
      <img src="{{ url_for('static', filename='img/lavadora.png') }}" alt="Logo" id="logo" class="img-fluid">
    </div>
        <div class="form container login_page">
            <h2 class="text-center tittle">Iniciar sesión</h2>

            {% if error_message %}
                <div class="mensaje-container error-message">
                    <p>{{ error_message }}</p>
                </div>
            {% endif %}
          
            <form method="POST" action="{{ url_for('login.login') }}">
                <div class="form-group">
                    <label for="text">Usuario:</label>
                    <input type="text" id="user" name="correo" class="form-control input userpass" required pattern="[a-zA-Z0-9._%+-][a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" title="Ingrese un usuario válido">
                </div>

              <div class="form-group">
                  <label for="telefono">Celular:</label>
                  <input type="phone" id="telefono" name="telefono" class="form-control input userpass" required pattern="[0-9]{10}" title="Ingrese un número de teléfono de 10 dígitos">
              </div>
                
                <div class="form-group">
                    <label for="contrasena">Contraseña:</label>
                    <input type="password" id="contrasena" name="contrasena" class="form-control input userpass" required pattern=".{8,}" title="La contraseña debe tener al menos 8 caracteres">
                </div>

                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary mt-3 login_btn">Iniciar sesión</button>
                </div>
            <p>¿Ya estás registrado? <a href="{{ url_for('login.login') }}">Inicia Sesión aquí</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
