<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="stylesheet" href="{{ url_for('static', filename='styleLogin.css') }}">
    <title>Registro</title>
</head>
  <!-- Header -->
  <header>
    <div class="logo-container">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo de la empresa">
        <h1>LAVANDERIA PREMIUM</h1>
    </div>
    <nav>
        <ul>
            <li><a class="login-btn" href="{{ url_for('index.index') }}">Inicio</a></li>
            <li><a class="login-btn" href="{{ url_for('nosotros.nosotros') }}">Sobre Nosotros</a></li>
            <li><a class="login-btn" href="{{ url_for('servicios.servicios') }}">servicios</a></li>
            <li><a class="login-btn" href="{{ url_for('login.login') }}">Iniciar Sesión</a></li>
            <li><a class="login-btn" href="{{ url_for('register.register') }}">Registrarse</a></li>
        </ul>
    </nav>
</header>

<body style="background-image: url('static/img/lavanderia.jpg'); background-size: cover; background-repeat: no-repeat; background-attachment: fixed;">
  <div class="login-page">
    <div class="avatar">
      <!--<img src="{{ url_for('static', filename='img/lavadero.png') }}" alt="Logo" id="logo" class="img-fluid">-->
    </div>
    <div class="form container login_page">
        <h2 class="text-center tittle">Registro</h2>

        {% if error_message %}
            <div class="mensaje-container error-message">
                <p>{{ error_message }}</p>
            </div>
        {% endif %}
      
        <form method="POST" action="{{ url_for('register.register') }}">
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" class="form-control input userpass" required>
            </div>

            <div class="form-group">
                <label for="apellido">Apellido:</label>
                <input type="text" id="apellido" name="apellido" class="form-control input userpass" required>
            </div>

            <div class="form-group">
                <label for="telefono">Teléfono:</label>
                <input type="tel" id="telefono" name="telefono" class="form-control input userpass" required pattern="[0-9]{10}" title="Ingrese un número de teléfono de 10 dígitos">
            </div>
            
            <div class="form-group">
                <label for="direccion">Dirección:</label>
                <input type="text" id="direccion" name="direccion" class="form-control input userpass" required>
            </div>

            <div class="form-group">
                <label for="contrasena">Contraseña:</label>
                <input type="password" id="contrasena" name="contrasena" class="form-control input userpass" required pattern=".{8,}" title="La contraseña debe tener al menos 8 caracteres">
            </div>

            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary mt-3 login_btn">Registrarse</button>
            </div>
        </form>

        <p>¿Ya tienes una cuenta? <a href="{{ url_for('login.login') }}">Inicia Sesión aquí</a></p>
    </div>
  </div>
</body>
</html>
